{"configSettings":[{"appID":"SharedServerToken","serverToken":"4L5CWVNZX5JU3R4YHDLWCGOJRTFFFNEG"},{"appID":"9509528472486197","serverToken":"KZHZTI2RHRGNK5SXS4G6ILUIWBSI6SSW"},{"appID":"1902078163949265","serverToken":"24D6KFCFOS56UYREAPXNL35CJAFF46LG"},{"appID":"710302098299776","serverToken":"4L5CWVNZX5JU3R4YHDLWCGOJRTFFFNEG"}]}